body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/fond1.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  main {
    padding: 20px;
  }

  section {
    margin-bottom: 30px; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  footer {
    margin-top: 20px;
      background-color: #333;
      padding: 10px;
      text-align: center;
      color: #ecf0f1;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }

  
  .back-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .back-button:hover {
    background-color: #2980b9;
  }

  header,
  footer {
    background-image: url(fond1.jpg);
    background-size: cover;
  }